@model OnlineMovieTicket.Models.ChiTietDatVeModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>ChiTietDatVeModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaChiTietDatVe" />
            <div class="form-group">
                <label asp-for="MaDonDatVe" class="control-label"></label>
                <select asp-for="MaDonDatVe" class="form-control" asp-items="ViewBag.MaDonDatVe"></select>
                <span asp-validation-for="MaDonDatVe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaGheSuatChieu" class="control-label"></label>
                <select asp-for="MaGheSuatChieu" class="form-control" asp-items="ViewBag.MaGheSuatChieu"></select>
                <span asp-validation-for="MaGheSuatChieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaVe" class="control-label"></label>
                <input asp-for="GiaVe" class="form-control" />
                <span asp-validation-for="GiaVe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

