@model OnlineMovieTicket.Models.AppNguoiDung
@{
    ViewData["Title"] = "Delete";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-12 grid-margin">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Xóa tài khoản người dùng</h4>
			@if (!string.IsNullOrEmpty(ViewBag.AdminLockError))
			{
				<div class="alert alert-danger">@ViewBag.AdminLockError</div>
			}
			<form asp-action="Delete" method="post" class="form-sample">
				<div asp-validation-summary="ModelOnly" class="text-danger">
				</div>
				<input type="hidden" asp-for="Id" value="@Model.Id" />
				<div class="form-group">
					<div class="col-2">
						<label>Tên đăng nhập</label>
					</div>
					<div class="col-5">
						<input asp-for="UserName" readonly="readonly" class="form-control" readonly="readonly" />
					</div>
					<span asp-validation-for="UserName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<div class="col-2">
						<label>Email></label>
					</div>
					<div class="col-5">
						<input asp-for="Email" readonly="readonly" class="form-control" readonly="readonly" />
					</div>
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
				<div class="form-group">
					<div class="col-2">
						<label>Họ</label>
					</div>
					<div class="col-5">
						<input asp-for="Ho" readonly="readonly" class="form-control" readonly="readonly" />
					</div>
					<span asp-validation-for="Ho" class="text-danger"></span>
				</div>
				<div class="form-group">
					<div class="col-2">
						<label>Tên</label>
					</div>
					<div class="col-5">
						<input asp-for="Ten" readonly="readonly" class="form-control" readonly="readonly" />
					</div>
					<span asp-validation-for="Ten" class="text-danger"></span>
				</div>
				<div class="row">
					<div class="col-md-6">
						<input type="submit" class="btn btn-primary" value="Xóa tài khoản" onclick="return confirm('Bạn có chắc chắn muốn xóa tài khoản này không?');" />
						<a asp-action="Index" class="btn btn-primary">Trở về danh sách người dùng</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
	}
}


